@import "variables";

header.site-header{
    border-top: 5px solid $primary-color;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        margin: 0 auto;
        width:90%;
    }
    .wrapper::after{
        content: unset;
    }
}

nav.site-nav{
    top:43px;
}